node-red-flows/clipboard nodered.txt
[{"id":"e4f57c1c.4e2a6","type":"tab","label":"Flow 1"},{"id":"f03919dd.6ecb08","type":"tab","label":"Flow 2"},{"id":"9c793e63.4ab68","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cd45968.2864e68","type":"inject","z":"f03919dd.6ecb08","name":"Device 1 (puls)","topic":"input","payload":"{\"collection\":\"patients\", \"value\":\"100\", \"patient\":\"28ac8bbc-eb14-4f01-a30d-bcff446e0bd4-Triage\", \"colorClass\":\"\", \"activity\":\"pulsrate\", \"sender\":\"machine\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":137.89581298828125,"y":390.888916015625,"wires":[["a02d1975.50af28"]]},{"id":"4640e0e5.932f3","type":"tcp out","z":"f03919dd.6ecb08","host":"127.0.0.1","port":"1337","beserver":"client","base64":false,"end":false,"name":"TCP to Server","x":1355.819580078125,"y":369.4134521484375,"wires":[]},{"id":"b75fe307.83f6b","type":"function","z":"f03919dd.6ecb08","name":"main func()","func":"// //temporary rand:\n// var value = parseInt(Math.random(30) * 100);\n// msg.payload.value = value.toString();\n// msg.payload.colorClass = colorSet(msg.payload.value);\n\n// function colorSet(value) {\n//     if(value <= 20 || value >= 130) {\n// \t\t//red\n// \t\treturn \"vp-red\";\n// \t}\n\n// \telse if((value >= 20 && value <= 40) || (value >= 111 && value <= 129) ) {\n// \t\t//orange\n// \t\treturn \"vp-orange\";\n// \t}\n\n// \telse if((value >= 41 && value <= 50) || (value >= 101 && value <= 110)) {\n// \t\t//yellow\n// \t\treturn \"vp-yellow\";\n// \t}\n\n// \telse if(value >= 51 && value <= 100) {\n// \t    //green\n// \t\treturn 'vp-green'\n// \t}\n// \telse {\n// \t    //white\n// \t\treturn \"vp-white\";\n// \t}\n// }\n// //console.log(msg.payload);\n\n// msg.payload = JSON.stringify(msg.payload);\n// return msg;","outputs":1,"noerr":0,"x":482.8232421875,"y":597.66357421875,"wires":[[]]},{"id":"7db84e20.0c3a4","type":"inject","z":"f03919dd.6ecb08","name":"Device 2 (syre)","topic":"input","payload":"{\"collection\":\"patients\", \"value\":\"100\", \"patient\":\"28ac8bbc-eb14-4f01-a30d-bcff446e0bd4-Triage\", \"colorClass\":\"\", \"activity\":\"oxygen\", \"sender\":\"machine\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":150.8890380859375,"y":443.1389465332031,"wires":[[]]},{"id":"97d3de62.bad6d","type":"inject","z":"f03919dd.6ecb08","name":"WEBSOCKET SIM | SYNCBUTTON","topic":"syncbutton","payload":"{\"collection\": \"patients\", \"value\":\"100\", \"patient\":\"1\", \"colorClass\":\"\", \"sender\":\"syncbutton\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":168,"y":108.21533203125,"wires":[["a02d1975.50af28"]]},{"id":"4bcd089e.5c5ff8","type":"function","z":"f03919dd.6ecb08","name":"Write to doc (w/ rand)","func":"// var connection = global.get('conn');\n// var doc = connection.get('patients', msg.patient)\n// var pulse = msg.payload;\n\n// if (pulse == 'string') {\n//   doc.submitOp([{p:['formfields', 'diastolic' ,'value'], od:doc.data.formfields.diastolic.value, oi:pulse}]);\n// }\n// else {\n//   pulse = pulse.toString();\n//   doc.submitOp([{p:['formfields', 'diastolic' ,'value'], od:doc.data.formfields.diastolic.value, oi:pulse}]);\n// }\n\n// return msg;","outputs":"1","noerr":0,"x":464.8890380859375,"y":638.138916015625,"wires":[[]]},{"id":"42dcdb1c.2dcac4","type":"function","z":"f03919dd.6ecb08","name":"set_objects_handler","func":"//console.log(\"FIRST\");\n// console.log(msg);\nif(typeof msg.payload !== 'object') {\n    msg.payload = JSON.parse(msg.payload);\n}\n\n\n//msg.payload.value = parseInt(Math.random(30) * 100);\n\n// msg.sender = msg.payload.sender;\n// msg.patient = msg.payload.patient;\n// msg.collection = msg.payload.collection;\n// msg.payload = msg.payload.value.toString();\n// msg.colorClass = msg.payload.colorClass;\n\nmsg.payload = JSON.stringify(msg.payload);\n//msg.payload = msg;\n//msg.payload = JSON.stringify(msg.payload);\n//console.log(\"MSG IS: \");\n//console.log(msg);\nnode.send(msg);","outputs":1,"noerr":0,"x":1041.8890380859375,"y":328.138916015625,"wires":[["4640e0e5.932f3"]]},{"id":"a832e5a2.145638","type":"function","z":"f03919dd.6ecb08","name":"set color()","func":"// msg.payload.value = msg.payload.value.toString();\nmsg.payload.colorClass = colorSet(msg.payload.value);\n\nfunction colorSet(value) {\n    if(value <= 20 || value >= 130) {\n\t\t//red\n\t\treturn \"vp-red\";\n\t}\n\n\telse if((value >= 20 && value <= 40) || (value >= 111 && value <= 129) ) {\n\t\t//orange\n\t\treturn \"vp-orange\";\n\t}\n\n\telse if((value >= 41 && value <= 50) || (value >= 101 && value <= 110)) {\n\t\t//yellow\n\t\treturn \"vp-yellow\";\n\t}\n\n\telse if(value >= 51 && value <= 100) {\n\t    //green\n\t\treturn 'vp-green'\n\t}\n\telse {\n\t    //white\n\t\treturn \"vp-white\";\n\t}\n}\n//console.log(msg.payload);\n\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":800.8890380859375,"y":332.138916015625,"wires":[["42dcdb1c.2dcac4","ea3f1b66.097c08"]]},{"id":"a02d1975.50af28","type":"function","z":"f03919dd.6ecb08","name":"FLOW_HANDLER","func":"var sharedb = global.get('sharedb');\nvar db = global.get('db');\nvar backend = new sharedb({db});\n\nvar connection = backend.connect();\n//Gör mer dynamisk \nvar doc = connection.get('patients', '28ac8bbc-eb14-4f01-a30d-bcff446e0bd4-Triage');\n\ndoc.fetch(function() {\n    //console.log(doc.data);\n    if(msg.payload.sender === \"syncbutton\") {\n        if(doc.data.syncing === true) {\n            console.log(\"Not Syncing\");\n            doc.submitOp([{p:['syncing'], od:doc.data.syncing, oi:false}]);\n        }\n        else {\n            console.log(\"Syncing\");\n            doc.submitOp([{p:['syncing'], od:doc.data.syncing, oi:true}]);\n        }\n    }\n    else {\n        if(doc.data.syncing === true) {\n            node.send(msg);\n            // node.send({payload:payload});\n            console.log(\"Sent data\");\n            console.log(msg.payload);\n        }\n        else {\n            console.log(\"Did not send data\");\n        }\n    }\n});\n\n\n\n\n","outputs":1,"noerr":0,"x":357.8957824707031,"y":258.8888854980469,"wires":[["7ca32589.0de03c"]]},{"id":"d61c5ac7.921d58","type":"debug","z":"f03919dd.6ecb08","name":"","active":true,"console":"false","complete":"true","x":1278.8298950195312,"y":193.11459350585938,"wires":[]},{"id":"cd52756d.4420e8","type":"inject","z":"e4f57c1c.4e2a6","name":"Device 1 (puls)","topic":"","payload":"{\"collection\":\"patients\", \"value\":100, \"patient\":\"1\", \"colorClass\":\"\", \"sender\":\"puls\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":206,"y":105,"wires":[[]]},{"id":"4d5deccb.ee66f4","type":"inject","z":"e4f57c1c.4e2a6","name":"Device 2 (syre)","topic":"","payload":"{\"collection\":\"patients\", \"value\":\"100\", \"patient\":\"1\", \"colorClass\":\"\", \"sender\":\"oxygen\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":212.9932403564453,"y":195.25006103515625,"wires":[[]]},{"id":"24cb6d9.6063692","type":"comment","z":"f03919dd.6ecb08","name":"This node..","info":"This node simulates a press on a button to stop or \nstart the node-red flow.\n\nThis is hopefully not needed, as the button in the \napplication should be working.","x":267,"y":85,"wires":[]},{"id":"7dda1b6b.3f8a84","type":"comment","z":"e4f57c1c.4e2a6","name":"","info":"Send data to MQTT broker.","x":417,"y":150,"wires":[]},{"id":"ea3f1b66.097c08","type":"debug","z":"f03919dd.6ecb08","name":"","active":true,"console":"false","complete":"true","x":1009,"y":218,"wires":[]},{"id":"5d70bc21.1ad034","type":"comment","z":"f03919dd.6ecb08","name":"Below is not used but can be used.","info":"","x":483,"y":558,"wires":[]},{"id":"8cfaac45.69439","type":"comment","z":"f03919dd.6ecb08","name":"Use these instead of MQTT node if...","info":"Use these instead of MQTT node if you don't want to bother\ninstalling your own MQTT server to connect to.","x":155,"y":362,"wires":[]},{"id":"6dce6f78.5931d","type":"comment","z":"f03919dd.6ecb08","name":"Incoming...","info":"Incoming data from MQTT broker here.","x":101,"y":262,"wires":[]},{"id":"a6160a2c.be2d68","type":"comment","z":"f03919dd.6ecb08","name":"Takes care of...","info":"Takes care of where the flow is gonna go. If syncing \nvalue is true then the flow is sending to \nthe server which in turn sets the sent value.","x":365,"y":226,"wires":[]},{"id":"4a20a39f.b5027c","type":"comment","z":"f03919dd.6ecb08","name":"An inbetween function...","info":"An inbetween function that sort of was \nexpected to sort the message in to different parts. \nRight now it stringify's the JSON being sent in by the payload.","x":1061,"y":294,"wires":[]},{"id":"899733d8.c559a","type":"function","z":"f03919dd.6ecb08","name":"set_rand_value()","func":"if(msg.topic === \"input\") {\n    var min = msg.payload.min;\n    var max = msg.payload.max;\n    console.log(\"We're in\");\n    var value = getRandomIntInclusive(min, max);\n    msg.payload.value = value;\n    return msg;\n}\n\nelse {\n    console.log(\"No valid topic for message\")\n}\n\nfunction getRandomIntInclusive(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n","outputs":1,"noerr":0,"x":793,"y":230,"wires":[["a832e5a2.145638"]]},{"id":"7ca32589.0de03c","type":"function","z":"f03919dd.6ecb08","name":"set_interval()","func":"msg.payload.min = 70;\nmsg.payload.max = 80;\n\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":247,"wires":[["899733d8.c559a"]]}]